configuration/map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="tileTypeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="sprite" use="optional"/>
        <xs:attribute type="xs:string" name="mapid" use="optional"/>
        <xs:attribute type="xs:string" name="tangible" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="tileTypesType" name="tileTypes"/>
      <xs:element type="xs:string" name="map"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tileTypesType">
    <xs:sequence>
      <xs:element type="tileTypeType" name="tileType" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>